<section class="page-agent-spreadsheet-setup container-fluid with-maxwidth no-breadcrumbs">
    <article class="article">
        <h2 class="article-title">Typeform Setting</h2>
        <div class="box box-default">
            <div class="box-body padding-xl">

                <form role="form">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-2 control-label">Typeform Url</label>
                        <div class="col-md-10">
                            <span>{{currentAgent.typeformUrl}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-md-2 control-label">Spreadsheet Url</label>
                        <div class="col-md-10">
                            <span>{{currentAgent.typeformUrl}}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button mat-raised-button type="button" class="btn-w-md" (click)="generateTypeformClicked()">Generera</button>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </article>
</section>