.write-review-page {
    > header {
          text-align: center;
          padding: 0 20px;
          margin-bottom: 60px;
      }
      header h2 {
        margin: 0;
        font-size: 32px !important;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
      }

      header h3 {
        text-align: center;
      }

      .hero-tagline{
        max-width: none !important;
      }

      .label {
        font-size: 18px;
        font-weight: 700;
        padding: 0 0 5px;
        display: block;
        clear: both;
        margin: 0;
        text-align: left;
        color: #7e7e7e;
        white-space: normal;
    }
}